.sampletitle {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.sampleslist {
    margin-bottom: 1rem;
    margin-inline-start: 0.5rem;
}

.samplelink { 
    margin-bottom: 0.5rem;
}

.downloadsampleitem {
    text-decoration: underline;
    font-size: 1rem;
}

.downloadsampleitem:hover {
    color: rgb(104, 105, 105);
}