.mydownloadstitle {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}

.downloadtableparent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.downloadstableheadings, .downloadstabledata {
    padding: 15px;
    text-align: center;
}

.downloadstablerows:nth-child(even) {
    background-color: #e6e6e6;
}

.downloadstabledata > .downloadurl {
    color: #0099e6;
}

.downloadstabledata > .downloadurl:hover {
    color: #0077b3;
}